body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}
button{
  border: 1px solid #fff !important;
  background:  #fff;
}
button:hover{
  background: none;
  border: 1px solid #fff !important;
  color: #ffffff !important;
  transition: 0.3s all;
}
hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}
hr{
  margin: 0;
  background: #ececec;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #18BC9C;
}

hr.star-dark {
  border-color: #2C3E50;
}

hr.star-dark:after {
  color: #2C3E50;
  background-color: white;
}

section {
  padding: 5rem 0;
  background-color:  #fff;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 100;
  font-family: 'Montserrat';
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.17);

  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  background: #ffffff;
  /* border-bottom: 1px solid #ffffff; */
}



#mainNav .navbar-brand {
  color: #ccc;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  /* color: #fff; */
  font-size: 11px;
  /* background: #fefefe; */
  font-weight: 400;
  /* padding: 10px 20px !important; */
  border-radius: 32px !important;
  /* width: 140px; */
  text-align:  center;
  padding:  15px;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #0098f6;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #0098f6;
  outline:  none;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #0098f6;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 768px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background: #ffffff;
    /* border-bottom: 1px solid #ffffff; */
  }
  #mainNav .navbar-brand {
    font-size: 14px;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #0098f6;
    /* background: #18BC9C; */
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #0098f6;
    background: #ffffff;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 14px;
  }
}

header.masthead {
  padding-top: 4vh;
  /* padding-bottom: 6rem; */
  /* height: 100vh; */
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Lato';
}

@media (min-width: 992px) {
  header.masthead {
    /* padding-top: 10rem; */
    /* padding-bottom: 7rem; */
    /* background-color: rgba(255,255,255,0.7); */
    /* height: calc(100vh - 69px); */
  }
  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}


a {
  color: #333;
}

a:focus, a:hover, a:active {
  color: #0098f6;
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: #0098f6 !important;
}

.bg-secondary {
  background: rgba(255,255,255,0.7);
  /* background-position-x: 12%; */
  /* background-size: 40% !important; */
  /* background-position */
}

.text-primary {
  color: #18BC9C !important;
}

.text-secondary {
  color: #2C3E50 !important;
}

.btn-primary {
  background-color: #18BC9C;
  border-color: #18BC9C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #128f76;
  border-color: #128f76;
}

.btn-secondary {
  background-color: #2C3E50;
  border-color: #2C3E50;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #1a252f;
  border-color: #1a252f;
}
.disable-temp{
  cursor: not-allowed;
}